<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Scriptex - fully extensible discord bot</title>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<link rel="stylesheet" href="/css/app.min.css">
</head>

<body class="has-background-grey-dark">
  <div id="app">
    <%- include('pages/'+(typeof page!=="undefined"?page:"main")) %>
  </div>
  <%-
  (()=>{
    if(typeof data=="undefined"){data={}}

    if(typeof libs=="undefined"){libs=["main"]}
return `<script>window.data=${JSON.stringify(data)};if(window.location.pathname!=="/login"){document.cookie="redirect="+window.location.href}</script>`+libs.map(lib=>{ return `<script defer src="/js/${lib}.js"></script>`}).join()
})()%>
</body>

</html>
